@model AppUserRegisterDto
@{
    TempData["Title"] = "Kayıt ol";
    Layout = "/Areas/Member/Views/Shared/_Layout.cshtml";

}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<div class="card-body">
    <div class="app-brand justify-content-center">
        <div class="app-brand-link gap-2">
            <span class="app-brand-text demo text-body fw-bolder">
                @TempData["Title"]
            </span>
        </div>
    </div>
    <form asp-area="Member" asp-controller="Account" asp-action="Register" method="post" class="mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Kullanıcı adı</label>
            <input asp-for="Username" class="form-control" placeholder="kullanıcı adı" autofocus />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">E-Posta</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="e-posta" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 form-password-toggle">
            <label asp-for="Password" class="form-label">Şifre</label>
            <div class="input-group input-group-merge">
                <input type="password" asp-for="Password" class="form-control" placeholder="********" />
                <span class="input-group-text cursor-pointer">
                    <i class="bx bx-hide"></i>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 form-password-toggle">
            <label asp-for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
            <div class="input-group input-group-merge">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="********" />
                <span class="input-group-text cursor-pointer">
                    <i class="bx bx-hide"></i>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary d-grid w-100">
            Kayıt ol
        </button>
    </form>
    <p class="text-center">
        <span>
            Zaten hesabınız var mı?
        </span>
        <a asp-area="Member" asp-controller="Account" asp-action="Login">
            <span>
                Bunun yerine oturum açın
            </span>
        </a>
    </p>
</div>