@model HomeIndexModel
@{
    TempData["Title"] = "Dashboard";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-6 mb-4 order-0">
            <div class="card bg-secondary text-white">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-title text-white">
                                Yazdığım Raporlar
                            </h5>
                            <p class="mb-4">
                                <strong>@Model.GetNumberOfReportsWrittenAsync</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/admin-theme/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4 order-0">
            <div class="card bg-info text-white">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-title text-white">
                                Tamamladığım Görevler
                            </h5>
                            <p class="mb-4">
                                <strong>@Model.GetNumberOfTasksCompletedAsync</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/admin-theme/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4 order-0">
            <div class="card bg-warning text-white">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-title text-white">
                                Okunmamış Bildirimler
                            </h5>
                            <p class="mb-4">
                                <strong>@Model.GetNumberOfUnreadNotificationAsync</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/admin-theme/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4 order-0">
            <div class="card bg-success text-white">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-title text-white">
                                Tamamlanması Gereken Görev Sayısı
                            </h5>
                            <p class="mb-4">
                                <strong>@Model.GetNumberOfTaskToCompleteAsync</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/admin-theme/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4 order-0">
            <div id="piechart" class="w-90" style="height: 500px;"></div>
        </div>
        <div class="col-lg-6 mb-4 order-0">
            <div id="piechart_3d" class="w-90" style="height: 500px;"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart3d);

        function drawChart() {
            let mostCompletedJob = [['Personel Adı', 'Görev Sayısı']];
            $.ajax({
                type: 'Get',
                url: '/Member/Graphic/MostCompletedJob',
                async: false,
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    $.each(obj, (index, value) => {
                        mostCompletedJob.push([value.Username, value.TaskCount]);
                    });
                }
            });
            var data = google.visualization.arrayToDataTable(mostCompletedJob);
            var options = {
                title: 'En Çok Görev Tamamlayan Personeller'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        function drawChart3d() {
            let mostCompletedJob = [['Personel Adı', 'Görev Sayısı']];
            $.ajax({
                type: 'Get',
                url: '/Member/Graphic/MostEmployedStaff',
                async: false,
                success: function (data) {
                    let obj = jQuery.parseJSON(data);
                    $.each(obj, (index, value) => {
                        mostCompletedJob.push([value.Username, value.TaskCount]);
                    });
                }
            });
            var data = google.visualization.arrayToDataTable(mostCompletedJob);
            var options = {
                title: 'En Çok Görevde Çalışan Personeller',
                is3D: true,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>
}
